.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: 100% 50%; /* Mantener el punto de origen de la transformación */
  transform: translate(-100%, -50%) rotate(var(--rotation, -50deg)); /* Cambiar la posición de la aguja */
  z-index: 10;
}

.arrow-inner {
  position: relative;
  width: 9rem; /* Disminuir el ancho de la flecha (10rem * 0.8 = 8rem) */
  height: 0.9rem; /* Disminuir el alto de la flecha (1rem * 0.8 = 0.8rem) */
  background: linear-gradient(to right, red, transparent);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
}
