.arrow-red {
  --arrow-color: #ba1f3b;
}

.arrow-green {
  --arrow-color: #25cb8e;
}

.arrow-blue {
  --arrow-color: #2196f3;
}
.arrow-hidden {
  display: none;
}

.arrow {

  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60%;
  left: 50%;
  transform-origin: 100% 50%;
  transform: translate(-100%, -50%) rotate(var(--rotation, -44.5deg));
  z-index: 10;  
  box-shadow: 15px 5px 2px rgba(0, 0, 0, 0.153);
}

.arrow-inner {
  position: relative;
  width: 10rem;
  height: 0.9rem;
  background: linear-gradient(to right, var(--arrow-color) 0%, var(--arrow-color) 70%, transparent 90%);
  clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;

}


.gigometer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 60%;
  left: 50%;
  width: 32rem;
  height: 32rem;
  background-image: url("/assets/images/whitegigometer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 10;
  transform: translate(-50%, -50%);
}
.carrito {
  position: absolute;
  top: -15%;
  left: 50%;
  transform: translate(-50%, 0) scale(0.15);
  z-index: 15;
}
/***************************************/
/***************************************/
/***************************************/
/************ RESPONSIVE ***************/
/***************************************/
/***************************************/
/***************************************/


/* ------------------------------ */
@media screen and (max-width: 768px) and (orientation: landscape) {
  .gigometer {
    top: 50%;
    width: 22rem;
    height: 22rem;
  }
  .arrow {
    top: 50%;
    transform-origin: 100% 50%;
  }
  .arrow-inner {
    position: relative;
    width: 7.5rem;
    height: 0.6rem;
  }
  .carrito {
    top: -20%;
    left: 50%;
    transform: translate(-50%, 0) scale(0.08);
  }
}

@media screen and (max-width: 768px) {

  .gigometer {

    width: 28rem;
    height: 28rem;
  }
  .arrow {
    transform-origin: 100% 50%;
  }
  .arrow-inner {
    position: relative;
    width: 9rem;
    height: 0.8rem;
  }
  .carrito {
    top: -18%;
    left: 50%;
    transform: translate(-50%, 0) scale(0.1);
  }
}

