#myTable {
  display: none;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../assets/fonts/plusJakartasans.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
  
    overflow: hidden;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer, Edge */
    user-select: none; /* Standard syntax */
}

.title {
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 5rem;
  font-weight: 1000;
  letter-spacing: -5px; 
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'PlusJakartaSans', sans-serif;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem; /* Tamaño de fuente reducido para pantallas más pequeñas */
  }
}

.my-image {
    position: absolute;
    top: 49.3%;
    left: 26.4%;
    transform: translate(-50%, -50%);
    width: 640px;
    height: 640px;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  .my-image2 {
    position: absolute;
    top: 49.3%;
    left: 22%;
    transform: translate(-50%, -50%);
    width: 25%;
    height: 44%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: -1;
  }


  .boton {
    fill: #25cb8e;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background-color: #25cb8e;
    cursor: pointer;
    pointer-events: visible;
    height: 50px;
    width: 100px;
    border: 6px solid #7ce0bb; /* Agregar borde del color especificado */
    border-radius: 25px; /* Para bordes redondeados */
    color: white; /* Cambiar el color del texto a blanco */
    font-weight: bold; /* Hacer el texto en negrita */
    display: flex; /* Para centrar el contenido del botón */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
  }
  .boton:not([disabled]):hover {
    background-color: #7ce0bb;
    border-color: #7ce0bb;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .boton-secondary {
    background-color: #d20030;
    border-color: #e46683;
    margin-left: 25px; /* Ajusta la separación entre los botones según prefieras */
  
  }
  
  .boton-secondary:not([disabled]):hover {
    background-color: #e46683;
    border-color: #e46683;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .boton-container {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 100;
  }

  .disabled {
    background-color: grey;
    border-color: grey;
    cursor: default;
  }
  
  

  .fondo-negro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2f5598;
    z-index: 9999;
  }

  /* Estilo para el mensaje de carga */
  #mensaje-carga {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #184995;
    z-index: -10;
    background-image: url("../assets/images/ondas.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

 

  /* CIRCULOS */


  .circle-container-left,
  .circle-container-right {
    position: relative;
  }
  .circle-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 8;
  }
  
  .circle-container-left {
    left: calc(50% - 25%);
  }
  
  .circle-container-right {
    left: calc(50% + 25%);
  }
  
  .circle-1,
  .circle-2,
  .circle-3 {
    position: absolute;
    border-radius: 50%;
  }
  
  .circle-1 {
    width: 26rem;
    height: 26rem;
    background-color: rgba(59, 111, 178, 0.671);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle-2 {
    width: 24rem;
    height: 24rem;
    background-color: #5ca2e6;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .circle-3 {
    width: 20rem;
    height: 20rem;
    background-color: #2587e2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /*
  **@Imagen circular  
  */

  .circle-image {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9; /* Asegurarse de que la imagen esté por encima de los círculos */
    width: 20%; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  .circle-image-left {
    left: calc(50% - 35%);
  }

  /* Circulo indicadores de velocidad */
  .circle-download > div:first-child,
.circle-upload > div:first-child {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  .circle-download,
  .circle-upload {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border: 10px solid rgba(59, 111, 178, 0.952);/* Borde más grueso */
    border-radius: 50%;
    color: white;
    font-family: 'PlusJakartaSans', sans-serif;
    font-size: 1rem;
    z-index: 11;
    transform: translate(-50%, -50%);
  }
  .circle-download{
    margin-left: 8px;
  }
  .circle-upload{
  
    margin-right: 10px;
  }
  
  .circle-download .value,
  .circle-upload .value {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .circle-download .mbps,
  .circle-upload .mbps {
    font-size: 0.9rem;
  }
  .circle-download .value,
.circle-upload .value,
.circle-download .mbps,
.circle-upload .mbps {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  .circle-download {
    top: 25%; /* Posición más arriba */
    left: 45%; /* Posición más centrada */
  }
  
  .circle-upload {
    top: 25%; /* Posición más arriba */
    left: 55%; /* Posición más centrada */
  }
  .circle-download.color-green {
    background-color: #25cb8e;
  }
  
  .circle-upload.color-blue {
    background-color: #2196f3;
  }
  


/*
  **@Carrusel
  */
.carousel {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.carousel-content {
  color: white;
  text-align: center;
}

.carousel-content h4 {
  font-size: 1.15em;
  margin-bottom: 2px;
}
.carousel-content p {
  font-size: 0.9em;
  margin-bottom: 10px;
}
.carousel-inner {
  background-color: transparent;
}


.boton-carrusel {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  height: 50px;
  width: 130px;
  cursor: pointer;
  text-decoration: none;
}

.boton-carrusel:hover {
  background-color: #7ce0bb; /* Color de fondo más oscuro cuando se pasa el cursor sobre el botón */
  border-color: #7ce0bb; /* Color de borde más oscuro cuando se pasa el cursor sobre el botón */
  transition: background-color 0.3s, border-color 0.3s; /* Transición suave de los colores */
}


  /* ************************************************************/
  /* ************************************************************/
  /* ************************************************************/
  /* ************************************************************/
  /* **************************OCULTAR ELEMENTOS ****************/
  /* ************************************************************/
  /* ************************************************************/
  /* ************************************************************/
  /* ************************************************************/
/* Móvil: 375 x 667 */

  @media screen and (max-width: 1600px) {
 
    .circle-image {
      position: fixed;
      top: 50%;
      margin-left: -80px;
      transform: translateY(-50%);
      z-index: 9; /* Asegurarse de que la imagen esté por encima de los círculos */
      width: 30%; /* Ajusta el tamaño de la imagen según sea necesario */
    }

  .circle-download{
    margin-left: -50px;

  }
  .circle-upload{

    margin-left: 50px;
  }

  .title {
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 3.4rem;
    font-weight: 1000;
    letter-spacing: -2px; 

  }


  }



  
    /* Ocultar los círculos en dispositivos móviles */
    @media screen and (max-width: 1250px) {
      .circle-container {
        display: none;
      }
      .circle-image {
        display: none;
      }
      .circle-image-left {
        display: none;
      }
    }