#myTable {
  display: none;
}

@font-face {
  font-family: 'PlusJakartaSans';
  src: url('../assets/fonts/plusJakartasans.ttf') format('truetype');
}

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
  
    overflow: hidden;
    -webkit-user-select: none; /* Chrome, Safari, Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer, Edge */
    user-select: none; /* Standard syntax */
    background-color: #ffffff00 !important;
}
/* Media screen for 1080p 2k and 4k */
@media screen and (min-width: 1px) {
 


  .boton {
    fill: #25cb8e;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    background-color: #25cb8e;
    cursor: pointer;
    pointer-events: visible;
    height: 50px;
    width: 100px;
    border: 6px solid #7ce0bb; /* Agregar borde del color especificado */
    border-radius: 25px; /* Para bordes redondeados */
    color: white; /* Cambiar el color del texto a blanco */
    font-weight: bold; /* Hacer el texto en negrita */
    display: flex; /* Para centrar el contenido del botón */
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
  }
  .boton:not([disabled]):hover {
    background-color: #7ce0bb;
    border-color: #7ce0bb;
    transition: background-color 0.3s, border-color 0.3s;
  }
  .boton-secondary {
    background-color: #d20030;
    border-color: #e46683;
    margin-left: 25px; /* Ajusta la separación entre los botones según prefieras */
  
  }
  
  .boton-secondary:not([disabled]):hover {
    background-color: #e46683;
    border-color: #e46683;
    transition: background-color 0.3s, border-color 0.3s;
  }

  .boton-container {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    z-index: 100;
  }

  .disabled {
    background-color: grey;
    border-color: grey;
    cursor: default;
  }
  
  

  .fondo-negro {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #2f559800;
    z-index: 9999;
  }

  /* Estilo para el mensaje de carga */
  #mensaje-carga {
    color: #fff;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
  }

 
  /* Circulo indicadores de velocidad */
  .circle-download > div:first-child,
.circle-upload > div:first-child {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  .circle-download,
  .circle-upload {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    border: 10px solid rgba(59, 111, 178, 0.952);/* Borde más grueso */
    border-radius: 50%;
    color: white;
    font-family: 'PlusJakartaSans', sans-serif;
    font-size: 1rem;
    z-index: 11;
    transform: translate(-50%, -50%);
  }
  .circle-download{
    margin-left: 8px;
  }
  .circle-upload{
  
    margin-right: 10px;
  }
  
  .circle-download .value,
  .circle-upload .value {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .circle-download .mbps,
  .circle-upload .mbps {
    font-size: 0.9rem;
  }
  .circle-download .value,
.circle-upload .value,
.circle-download .mbps,
.circle-upload .mbps {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

  .circle-download {
    top: 15%; /* Posición más arriba */
    left: 45%; /* Posición más centrada */
    margin-left: -55px;
  }
  
  .circle-upload {
    top: 15%; /* Posición más arriba */
    left: 55%; /* Posición más centrada */
    margin-left: 55px;
  }
  .circle-download.color-green {
    background-color: #25cb8e;
  }
  
  .circle-upload.color-blue {
    background-color: #2196f3;
  }
  


  .arrow-red {
    --arrow-color: #ba1f3b;
  }
  
  .arrow-green {
    --arrow-color: #25cb8e;
  }
  
  .arrow-blue {
    --arrow-color: #2196f3;
  }
  .arrow-hidden {
    display: none;
  }
  
  .arrow {
  
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 100% 50%;
    transform: translate(-100%, -50%) rotate(var(--rotation, -44.5deg));
    z-index: 10;  
    box-shadow: 15px 5px 2px rgba(0, 0, 0, 0.153);
  }
  
  .arrow-inner {
    position: relative;
    width: 10rem;
    height: 0.9rem;
    background: linear-gradient(to right, var(--arrow-color) 0%, var(--arrow-color) 70%, transparent 90%);
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
  
  }
  
  
  .gigometer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 32rem;
    height: 32rem;

    z-index: 10;
    transform: translate(-50%, -50%);
  }
  .carrito {
    position: absolute;
    top: -15%;
    left: 50%;
    transform: translate(-50%, 0) scale(0.15);
    z-index: 15;
  }
}